<h1>내용보기</h1>
<div style="border: 1px solid black;">
    <%= @ask.question %>
</div>
<a href="/ask" class="btn btn-info">홈으로</a>
<a href="/ask/<%= @ask.id %>/edit" class="btn btn-success">수정하기</a>
<a href="/ask/<%= @ask.id %>/delete" class="btn btn-danger">삭제하기</a>
<!--<form action="/ask/<%= @ask.id %>/update" method="POST">-->
<!--    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">-->
<!--    <input type="text" class="form-control "name="q" value="<%= @ask.question %>">-->
<!--    <div><button class="btn btn-success">등록</button></div>-->
<!--</form>-->